@{
    ViewData["Title"] = "Result";
}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('laptop.jpg');
}
</style>
</head>
<body>
    <u><h1>@ViewData["Title"]</h1></u>
<center>
    <h4>If you want to view your result please click RESULT button:)</h4>
<button><a href="https://exams1.bdu.ac.in/student_result/">RESULT</a></button>
</center>

</body>
</html>